body{
    /*background: yellow blueviolet;*/
    background-image: linear-gradient(black, red, rgb(230, 55, 192)
    );

    color: rgb(236, 101, 175);
    font-family: roboto ;
    font-size: x-large;
    text-align: center;
}
img{
    width:320px;

}
         img:hover{
            transform: scaleX(-1);
         }
}