body{
    /*background: yellow blueviolet;*/
    background-image: linear-gradient(black, rgb(148, 12, 238),rgb(125, 8, 235), blue rgb(57, 155, 235),;
    );

    color: rgb(236, 101, 175);
    font-family: roboto ;
    font-size: x-large;
    text-align: center;
}
img{
    width:320px;

}
         img:hover{
            transform: scaleX(-1);
         }
}